.cbp_tmtimeline > li {
	min-height: 110px;
}
.cbp_tmtimeline > li:hover {padding-bottom: 20px}

.cbp_tmtimeline > li .cbp_tmtime {
	width: 115px;
	padding: 3px;
	top: 45px;
	background-color: #fff;
}
.page-body .main-content .cbp_tmtimeline>li .cbp_tmlabel.empty {margin-bottom: 0}
.page-body .main-content .cbp_tmtimeline>li .cbp_tmlabel {
	position: absolute;
	visibility: hidden;
	min-width: 300px;
	margin: 0 0 0 120px;
}

.page-body .main-content .cbp_tmtimeline>li:hover .cbp_tmlabel {
	position: relative;
	visibility: visible;
	z-index: 1;
}

.cbp_tmtimeline > li .cbp_tmtime span {text-align: center}

.cbp_tmtimeline > li .cbp_tmicon {
	margin: 0;
	left: 37px;
}

.page-body .main-content .cbp_tmtimeline:before {
	margin-left: 0;
	left: 55px;
}

/*right*/
.page-body .main-content .cbp_tmtimeline.cbp_tmtimeline-right:before {
	left: auto;
	right: 55px;
}
.cbp_tmtimeline.cbp_tmtimeline-right > li .cbp_tmicon {
	left: auto;
	right: 37px;
}

.cbp_tmtimeline.cbp_tmtimeline-right > li .cbp_tmtime {right: 0}

.page-body .main-content .cbp_tmtimeline.cbp_tmtimeline-right>li .cbp_tmlabel {
	margin-left: auto;
	left: calc(100% - 415px);
}
.page-body .main-content .cbp_tmtimeline.cbp_tmtimeline-right>li .cbp_tmlabel.empty {text-align: right}
.cbp_tmtimeline.cbp_tmtimeline-right > li .cbp_tmlabel:after {
	right: auto;
	left: 100%;
}
.page-body .main-content .cbp_tmtimeline.cbp_tmtimeline-right>li .cbp_tmlabel:after {
	border-right-color: transparent;
	border-left-color: #f5f5f6;
}



@media screen and (max-width: 47.2em){

	.cbp_tmtimeline > li {min-height: 60px}
	.page-body .main-content .cbp_tmtimeline>li .cbp_tmlabel {margin-left: 0}
	.page-body .main-content .cbp_tmtimeline>li .cbp_tmlabel:after {left: 18px}
	.page-body .main-content .cbp_tmtimeline.cbp_tmtimeline-right>li .cbp_tmlabel {left: auto}
	.page-body .main-content .cbp_tmtimeline.cbp_tmtimeline-right>li .cbp_tmlabel:after {border-left-color: transparent}
	.cbp_tmtimeline > li .cbp_tmicon {
		float: left;
		top: -15px;
		margin: -40px 0 0 9px;
		left: auto;
	}
	.cbp_tmtimeline.cbp_tmtimeline-right > li .cbp_tmicon {right: auto}
	.cbp_tmtimeline > li .cbp_tmtime {
		margin-left: 60px;
		padding-bottom: 15px;
		top: 0;
	}
	.cbp_tmtimeline > li .cbp_tmtime span {text-align: left}

	.page-body .main-content .cbp_tmtimeline.cbp_tmtimeline-right>li .cbp_tmlabel.empty {text-align: left}
	.page-body .main-content .cbp_tmtimeline>li .cbp_tmlabel.empty:after {visibility: hidden}
	.page-body .main-content .cbp_tmtimeline>li:hover .cbp_tmlabel.empty:after {visibility: visible}
}