.remove-item{
  cursor: pointer;
  width: 60px;
}

.remove-item.success{
  color: rgb(40, 96, 42);
}

.remove-item.danger{
  color: rgb(85, 8, 8);
}


.line {clear: both}
.line.right {text-align: right}
.line.center {text-align: center}
.line:before,
.line:after {
	content: " ";
	display: table;
}
.line:after {clear: both}

.line h4 {margin-top: 0}

.image {
	clear: both;
	text-align: center;
	margin: 5px 0;
}

.image.left {
	float: left;
	clear: left;
	margin: 5px 14px 5px 0;
}

.image.right {
	float: right;
	clear: right;
	margin: 5px 0 5px 14px;
}

.custom-btn-group {width: 100%}
.custom-btn-group > .btn:hover,
.custom-btn-group > .btn.active,
.custom-btn-group > .btn.active:hover {
	background-color: hsl(220, 58%, 55%);
	color: #fff;
	border: 1px solid transparent;
}

.weight {
	display: none;
	margin: 4px 0;
	font-size: 16px;
	color: hsl(212, 100%, 22%);
}
.weight > span {margin-left: 6px}
.has-weight .weight {display: inline-block}

.course {
	margin: 0;
	font-size: 15px;
}

.form-header .form-control-static {
	font-size: 15px;
	line-height: 20px;
}

.form-header .control-label {
	font-size: 15px;
	font-weight: normal;
	color: #373e4a;
}

.form-header .form-control-static > span:empty + .fa {display: none}


body .cbp_tmtimeline > li .cbp_tmicon {
	width: 15px;
	height: 15px;
	position: relative;
	left: 20%;
	float: left;
	top: 5px;
	margin: 0 0 0 -30px;
}
body.page-body .main-content .cbp_tmtimeline>li .cbp_tmicon {background: #46a4da}
body .cbp_tmtimeline > li .cbp_tmlabel {
	top: -7px;
	margin: 0 0 15px 20%;
}
body .cbp_tmtimeline > li .cbp_tmlabel.empty {top: -10px}
body .cbp_tmtimeline > li .cbp_tmlabel:after {top: 10px}

body .cbp_tmtimeline > li .cbp_tmtime {
	width: 20%;
	padding-right: 40px;
}
body.page-body .main-content .cbp_tmtimeline:before {margin-left: -25px}

body .cbp_tmtimeline {
	margin: 0;
	top: 30px;
}

body .select2-container .select2-choice > .select2-chosen {
	margin-right: 50px;
	text-align: left;
}

body .tt-suggestion p {
	height: auto;
	text-align: left;
}

body .twitter-typeahead .tt-hint {border: 0}


body .btn-primary a {color: #fff}

.form-wrap {
	margin: 17px 0;
	padding: 17px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.form-wrap + .form-wrap {
	border-top: 0;
	padding-top: 0;
}
.form-wrap > .form-wrap:last-child {
	 border-bottom: 0;
	 padding-bottom: 0;
}
hr + .form-wrap {
	margin: 0;
	padding: 0;
	border: 0;
}

.sticker {
	position: absolute;
	top: 0;
	right: 0;
	margin: 10px 15px;
}


.underline {
	border-bottom: 1px solid;
	padding: 2px 5px;
}
.underline:empty:after {
	color: transparent;
	content: "_";
}
.substring {
	position: relative;
	margin-bottom: 1.8em;
}
.substring:before {
	content: attr(data-substring);
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	font-size: 80%;
	line-height: 1.4;
	color: #888;
	text-align: center;
}

@media print {
	.page-container {padding-left: 0}

	.page-body .select2-container .select2-choice {border: 0}
	.page-body .select2-container .select2-choice .select2-arrow {display: none}

	.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {border: 0}
	.panel-heading>.panel-options>.nav-tabs>li:not(.active) {display: none}

	#attendance .btn.btn-icon {
		padding-right: 8px;
		border: 1px solid hsl(0, 0%, 87%) !important;
		background-color: transparent !important;
	}
	#attendance .btn.btn-icon > .class-date {display: none}

	.nav-tabs {border: 0}

	#attestation_list {table-layout: fixed}
	a:after {content: ""!important;}
}