<script type="javascript/template" id="tmpl-brsStudentView-page">
  <div class="page">
    <div class="timetable-env">
      <section class="timetable">
        <div class="row">
          <div class="col-md-6">
            <select name="my-group" class="select2 groups to-select2" data-allow-clear="true"
                    data-placeholder="Выберите семестр...">
              <option>Текущий семестр (1)</option>
            </select>
          </div>
          <div class="col-md-6">
            <select name="subjects" class="select2 subjects to-select2" data-allow-clear="true"
                    data-placeholder="Выберите дисциплину...">
              <option>SAP</option>
            </select>
          </div>
        </div>
        <p></p>

        <div class="row">
          <div class="col-md-12">
            <table class="table table-bordered table-striped table-hover" id="export-table">

            </table>
          </div>
        </div>
        <div class="row panels-heading">
          <div class="col-md-12">
            <h2>Посещаемость и активность</h2>
            <table id="attendance" class="table table-bordered table-striped table-hover">
              <tbody>
              <tr class="months-header">
                <th rowspan="2">№</th>
                <th rowspan="2">ФИО обучающегося</th>
                <th class="month" colspan="2" data-month="8">Сентябрь</th>
                <th class="month" colspan="2" data-month="9">Октябрь</th>
                <th class="month" colspan="2" data-month="10">Ноябрь</th>
                <th class="month" colspan="1" data-month="11">Декабрь</th>
              </tr>
              <tr class="days-header">
                <td class="">14</td>
                <td class="">28</td>
                <td class="">12</td>
                <td class="">26</td>
                <td class="">9</td>
                <td class="future">23</td>
                <td class="future">7</td>
              </tr>
              <tr class="student student-661" data-student-id="661">
                <td>1</td>
                <td>Карданов Инал</td>
                <td class="mark mark-1" data-class-number="1"></td>
                <td class="mark mark-2" data-class-number="2"></td>
                <td class="mark mark-3" data-class-number="3"></td>
                <td class="mark mark-4" data-class-number="4"></td>
                <td class="mark mark-5" data-class-number="5"></td>
                <td class="mark mark-6" data-class-number="6"></td>
                <td class="mark mark-7" data-class-number="7"></td>
              </tr>
              </tbody>
            </table>


            <h2>Успеваемость</h2>
            <table id="progress" class="table table-bordered table-striped table-hover">
              <thead>
              <tr>
                <th>№</th>
                <th>Студент</th>
                <th class="control-event-header"> Р1 (8 - 10) <button class="btn btn-info btn-xs control-event-info" title="" data-original-title="Информация"><i class="entypo-info"></i></button>
                </th>
                <th class="control-event-header"> Р2 (8 - 25) <button class="btn btn-info btn-xs control-event-info" title="" data-original-title="Информация"><i class="entypo-info"></i></button>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr class="student-line student-661" data-student-id="661">
                <td>1</td>
                <td>Карданов Инал</td>
                <td data-control-event-id="41" data-min-rating="(min_rating)"
                    data-max-rating="(max_rating)" class="editable control-mark control-mark-41">10
                </td>
                <td data-control-event-id="42" data-min-rating="(min_rating)"
                    data-max-rating="(max_rating)" class="editable control-mark control-mark-42">10
                </td>
              </tr>
              </tbody>
            </table>

            <hr>
            <div class="col-xs-9"></div>
            <div class="col-xs-2 pull-right">
              <h3> ИТОГО: 22</h3>
            </div>

          </div>
        </div>
      </section>
    </div>

  </div>
</script>


<script type="javascript/template" id="tmpl-control-event-popover-content">
  <table class="table table-bordered table-striped">
    <tr><th>Тип работы</th><td>{name}</td></tr>
    <tr><th>Описание</th><td>{description}</td></tr>
    <tr><th>Дата работы</th><td>{event_date}</td></tr>
    <tr><th>Активен до</th><td>{active_till}</td></tr>
    <tr><th>Макс. баллов</th><td>{max_rating}</td></tr>
    <tr><th>Мин. баллов</th><td>{min_rating}</td></tr>
  </table>
</script>