<script type="javascript/template" id="tmpl-brsGroups-page">
  <div class="page">
    <div class="alert alert-info text-center hidden-print">
      <strong>Внимание!</strong>
      В случае несоответствия списков учебных групп и дисциплин Вашему расписанию занятий просьба сообщить по адресу электронной почты my@guu.ru.
      <p><strong>Спасибо за терпение!</strong></p>
    </div>
    <div class="timetable-env">
      <section class="timetable">
        <div class="row">
          <div class="col-md-6">
            <select name="my-group" class="select2 groups not-auto" data-allow-clear="true"
                    data-placeholder="Выберите группу...">
              <option></option>
            </select>
          </div>
          <div class="col-md-6">
            <select name="subjects" class="select2 subjects not-auto" data-allow-clear="true"
                    data-placeholder="Выберите дисциплину...">
              <option></option>
            </select>
          </div>
        </div>
        <p></p>

        <div class="row">
          <div class="col-md-12">
            <div class="text-center hidden text-loading">Загружаем данные...</div>
            <table class="table table-bordered table-striped table-hover hidden" id="export-table">
            </table>
          </div>
        </div>
        <div class="row hidden panels-heading">
          <div class="col-md-12">
            <div class="panel minimal minimal-gray">
              <div class="panel-heading">
                <div class="panel-title"><h4></h4></div>
                <div class="panel-options pull-left">
                  <ul class="nav nav-tabs">
                    <li class="tab-item attendance-tab" data-click-handler="showAttendanceForm"><a href="#" data-toggle="tab"><i class="entypo-chart-pie"></i> Посещаемость</a></li>
                    <li class="tab-item progress-tab" data-click-handler="showProgressForm"><a href="#" data-toggle="tab"><i class="entypo-chart-line"></i> Успеваемость</a></li>
                    <li class="tab-item project-tab" data-click-handler="showProjectForm"><a href="#" data-toggle="tab"><i class="entypo-doc-text"></i> Курсовая работа</a></li>
                    <li class="tab-item exam-tab" data-click-handler="showExamForm"><a href="#" data-toggle="tab"><i class="entypo-check"></i> Итоговый контроль</a></li>
                    <li class="tab-item settings-tab" data-click-handler="showSettings"><a href="#" data-toggle="tab"><i class="entypo-cog"></i> Настройки</a></li>
                  </ul>
                </div>
              </div>

              <div class="panel-body">
                <div class="tab-content">

                  <div class="tab-pane">
                    <table id="attendance" class="table table-bordered table-striped table-hover" ></table>
                    <div class="text-right">
                      <button class="btn btn-success btn-icon save attendance ladda-button hidden-print"  data-style="slide-up">Сохранить <i class="entypo-floppy"></i></button>
                      <span> </span>
                      <button class="btn btn-primary btn-icon print hidden-print">Печать <i class="entypo-print"></i></button>
                    </div>
                  </div>

                  <div class="tab-pane" style="margin-bottom: 300px">
                    <table id="progress" class="table table-bordered table-striped table-hover">
                      <thead>
                        <tr>
                          <th>№</th>
                          <th>Студент</th>
                        </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                    <div class="text-right">
                      <button class="btn btn-success btn-icon save brs-progress ladda-button hidden-print"  data-style="slide-up">Сохранить <i class="entypo-floppy"></i></button>
                      <span> </span>
                      <button class="btn btn-primary btn-icon print hidden-print">Печать <i class="entypo-print"></i></button>
                    </div>
                  </div>

                  <div class="tab-pane" style="margin-bottom: 300px">
                    <table id="project" class="table table-bordered table-striped table-hover" >
                      <thead>
                      <tr>
                        <th rowspan="2">№</th>
                        <th rowspan="2">Студент</th>
                        <th rowspan="2">Тема работы</th>
                        <th rowspan="2">
                          Дата сдачи
                          <button title="Задать всем дату" class="btn btn-xs pull-right chance-date-calendar-all hidden-print" type="button"><i class="entypo-calendar"></i></button>
                        </th>
                        <th class="features-group" data-group-number="0">Формальные признаки </th>
                        <th class="features-group" data-group-number="1">Содержательные признаки </th>
                        <th class="features-group" data-group-number="2">Защита работы </th>
                        <th rowspan="2">Сумма</th>
                        <th rowspan="2">Оценка</th>
                      </tr>
                      <tr class="tr-features-line">
                      </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                    <table id="project-chance-2" class="table table-bordered table-striped table-hover hidden">
                      <thead>
                      <tr>
                        <th rowspan="2">№</th>
                        <th rowspan="2">Студент</th>
                        <th rowspan="2">
                          Дата сдачи
                          <button title="Задать всем дату" class="btn btn-xs pull-right chance-date-calendar-all" type="button"><i class="entypo-calendar"></i></button>
                        </th>
                        <th class="features-group" data-group-number="0">Формальные признаки </th>
                        <th class="features-group" data-group-number="1">Содержательные признаки </th>
                        <th class="features-group" data-group-number="2">Защита работы </th>
                        <th rowspan="2">Сумма</th>
                        <th rowspan="2">Оценка</th>
                      </tr>
                      <tr class="tr-features-line">
                      </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                    <table id="project-chance-3" class="table table-bordered table-striped table-hover hidden" >
                      <thead>
                      <tr>
                        <th rowspan="2">№</th>
                        <th rowspan="2">Студент</th>
                        <th rowspan="2">
                          Дата сдачи
                          <button title="Задать всем дату" class="btn btn-xs pull-right chance-date-calendar-all" type="button"><i class="entypo-calendar"></i></button>
                        </th>
                        <th class="features-group" data-group-number="0">Формальные признаки </th>
                        <th class="features-group" data-group-number="1">Содержательные признаки </th>
                        <th class="features-group" data-group-number="2">Защита работы </th>
                        <th rowspan="2">Сумма</th>
                        <th rowspan="2">Оценка</th>
                      </tr>
                      <tr class="tr-features-line">
                      </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                    <div class="text-right">
                      <button class="btn btn-success btn-icon save project ladda-button hidden-print"  data-style="slide-up">Сохранить <i class="entypo-floppy"></i></button>
                      <span> </span>
                      <button class="btn btn-primary btn-icon print hidden-print">Печать <i class="entypo-print"></i></button>
                    </div>
                  </div>

                  <div class="tab-pane" style="margin-bottom: 300px">
                    <span class="hidden-print">Выберите форму итогового контроля:</span>
                    <select class="select2 to-select2 exam-form hidden-print">
                      <option></option>
                      <option value="1">Зачет</option>
                      <option value="3">Зачет с оценкой</option>
                      <option value="2">Экзамен</option>
                    </select>
                    <br>
                    <table id="exam" class="table table-bordered table-striped table-hover" >
                      <thead>
                      <tr>
                        <th>№</th>
                        <th>Студент</th>
                        <th>Посещаемость</th>
                        <th>Активность</th>
                        <th>Успеваемость</th>
                        <th>Баллы за итоговое мероприятие</th>
                        <th>Итоговая сумма</th>
                        <th>Оценка</th>
                        <th>Дата изменения</th>
                      </tr>
                      </thead>
                      <tbody></tbody>
                    </table>
                    <div class="text-right">
                      <button class="btn btn-success btn-icon save exam ladda-button hidden-print"  data-style="slide-up">Сохранить<i class="entypo-floppy"></i></button>
                      <span> </span>
                      <button class="btn btn-primary btn-icon print hidden-print">Печать <i class="entypo-print"></i></button>
                    </div>
                  </div>

                  <div class="tab-pane" style="margin-bottom: 500px">
                    <div id="settings"></div>
                    <button class="btn btn-success btn-icon save settings ladda-button pull-right hidden-print" data-style="slide-up">Сохранить <i class="entypo-floppy"></i> </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <div class="modal" id="wrong-max-rating" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Отменено!</h4>
          </div>


          <div class="modal-body">
            <div class="alert alert-danger">
              <strong>Отменено! </strong>
              Введенное значение меньше минимально допустимого
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

  <div class="modal" id="settings-wrong" data-backdrop="static">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Отменено!</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger modal-text">
              <strong>Отменено! </strong>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal">Ok</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</script>

<script type="javascript/template" id="tmpl-my-groups-option">
  <option value="{edu_group_id}">{student_group_name} {course}-{group} ({institute_abbr}), форма обучения: {edu_form_name}</option>
</script>

<script type="javascript/template" id="tmpl-subjects-with-group-option">
  <option value="{subject_id}">{subject_name}</option>
</script>

<script type="javascript/template" id="tmpl-main-table-tbody">
  <tbody>
  <tr class="span-calculate">
    <td colspan="2"><h3 style="text-align: center">Балльно-рейтинговая ведомость промежуточной аттестации обучающихся</h3></td>
  </tr>

  <tr class="span-calculate">
    <td colspan="2"><h4 style="text-align: center">весенний семестр 2014-2015 уч.года</h4></td>
  </tr>

  <tr class="span-calculate">
    <td><b>Направление подготовки:</b></td>
    <td>{name}</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Курс:</b></td>
    <td>{course}</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Группа:</b></td>
    <td>{number}</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Семестр:</b></td>
    <td>{brs_semester}</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Дисциплина:</b></td>
    <td>{subject_name}</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Количество часов, отведенных на дисциплину по учебному плану:</b></td>
    <td></td>
  </tr>

  <tr class="span-calculate">
    <td><b>Ф.И.О. преподавателя, ответственного за дисциплину:</b></td>
    <td>{professor_first_name} {professor_last_name} {professor_father_name}</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Кафедра, за которой закреплено чтение дисциплины:</b></td>
    <td>{subject_academic_department}</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Институт, реализующий подготовку по данной дисциплине:</b></td>
    <td>{institute_name}</td>
  </tr>
  </tbody>
</script>

<script type="javascript/template" id="tmpl-attendance-table-tbody">
  <tbody>
    <tr class="months-header">
      <th rowspan="2">№</th>
      <th rowspan="2">ФИО обучающегося</th>
    </tr>
    <tr class="days-header">
    </tr>
  </tbody>
</script>

<script type="javascript/template" id="tmpl-settings-form">
  <div>
    <h3 class="text-center">Контрольные мероприятия (для оценки успеваемости)</h3>
    <table class="table table-bordered table-striped table-hover">
      <tbody>
      <tr>
        <th>№</th>
        <th style="width: 33%;">Тип мероприятия</th>
        <th style="width: 33%;">Описание</th>
        <th>Дата проведения (планируемая или фактическая)</th>
        <th>Дата окончания приема</th>
        <th>Max. баллов</th>
      </tr>

      <tr class="add-control-event hidden-print">
        <td colspan="6" class="btn btn-info btn-icon">
          <span>Добавить мероприятие</span>
          <i class="entypo-plus-circled"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

	<div class="col-sm-12 hidden-print">
		<br>
		<hr>
		<input type="checkbox" id="project-exists" value="1">
	</div>
  <div class="project-features-table" style="display: none;">
    <div class="text-center col-md-12"
         style="color: black;">
      <span style="font-size: 20px;">Критерии оценки курсовой работы </span>
      <button class="btn btn-xs popover-primary to-popover btn-info hidden-print"
              data-toggle="popover"
              data-trigger="hover"
              data-placement="top"
              data-html="true"
              data-content="Курсовая работа в рамках БРС должна оцениваться по 100 балльной шкале.
              У каждой курсовой работы должны быть указаны три группы оцениваемых показателей (Формальные, Содержательные, Защита Работы).
              Должно присутсововать <span class='badge badge-info badge-roundless'>минимум по одному показателю</span> из каждой категории.
              Сумма максимальных баллов <span class='badge badge-info badge-roundless'>должна равняться 100</span>"
              data-original-title="Информация"><i class="entypo-info"></i></button>
    </div>
    <table class="table table-bordered table-striped table-hover">
      <tbody>
      <tr>
        <th>№</th>
        <th style="width: 33%;">Критерий</th>
        <th style="width: 33%;">Описание</th>
        <th>Max. баллов</th>
      </tr>

      <tr class="feature-group">
        <td colspan="4" class="active" style="">Формальные (не более 20 баллов)
        </td>
      </tr>
      <tr class="add-project-feature hidden-print" data-feature-group="0">
        <td colspan="4" class="btn btn-info btn-icon">
          <span>Добавить критерий</span>
          <i class="entypo-plus-circled"></i>
        </td>
      </tr>


      <tr class="feature-group">
        <td colspan="4" class="active" style="">Содержательные (не менее 50 баллов)
        </td>
      </tr>
      <tr class="add-project-feature hidden-print" data-feature-group="1">
        <td colspan="4" class="btn btn-info btn-icon">
          <span>Добавить критерий</span>
          <i class="entypo-plus-circled"></i>
        </td>
      </tr>


      <tr class="feature-group">
        <td colspan="4" class="active" style="">Защита работы (не менее 30 баллов)
        </td>
      </tr>
      <tr class="add-project-feature hidden-print" data-feature-group="2">
        <td colspan="4" class="btn btn-info btn-icon">
          <span>Добавить критерий</span>
          <i class="entypo-plus-circled"></i>
        </td>
      </tr>
      </tbody>
    </table>
    <hr>
  </div>
	<div class="form-group clearfix">
		<hr>
		<div class="text-center col-md-12" style="color: black;">
			<span style="font-size: 20px;">Распределение баллов за посещаемость и активность </span>
			<button class="btn btn-xs popover-primary to-popover btn-info hidden-print"
							data-toggle="popover"
							data-trigger="hover"
							data-placement="top"
							data-html="true"
							data-content="Сумма баллов за посещаемость и активность равна 13. Вы можете распределить их любым образом.
							Если Вы укажете меньше 13 баллов, то максимальный балл за семестр станет меньше 100 (т.е. студенты не смогут ни при каких обстоятельствах
							получить 100 баллов).
							<hr>
							Баллы за посещаемость распределяются автоматически в соответствии с расписанием и количеством посещенных занятий.<br>
							Баллы за активность необходимо проставлять в ведомости 'Посещаемость' в виде чисел. "
							data-original-title="Информация"><i class="entypo-info"></i></button>
		</div>
		<div class="col-sm-6">
			Посещаемость
			<input type="text" class="form-control max-rating-input" id="attendance-max-rating" placeholder="Посещаемость" value="13">
		</div>
		<div class="col-sm-6">
			Активность
			<input type="text" class="form-control max-rating-input" id="activity-max-rating" placeholder="Активность" value="0">
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-control-event-line">
  <tr class="control-event" data-control-event-id="{id}">
    <td>{number}</td>
    <td class="types-of-control"></td>
    <td class="description-text editable" contenteditable="true">{description}</td>
    <td><input type="text" class="form-control datepicker event-date" data-start-date="{semester_start_date}" data-end-date="{semester_finish_date}" value="{event_date}" data-date-format="dd/mm/yyyy"></td>
    <td><input type="text" class="form-control datepicker active-till" data-start-date="{semester_start_date}" data-end-date="{semester_finish_date}" value="{active_till}" data-date-format="dd/mm/yyyy"></td>
    <td><input type="text" class="form-control rating-input" data-mask="99" placeholder="" value="{max_rating}"></td>
    <td class="btn btn-danger btn-icon remove-item hidden-print"><i class="entypo-trash"></i> Удалить</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-project-feature-line">
  <tr class="project-feature project-features-line-{group_number} feature-{group_number}" data-feature-group="{group_number}" data-feature-id="{id}">
    <td>{number}</td>
    <td class="feature-name"></td>
    <td class="description-text editable" contenteditable="true">{description}</td>
    <td><input type="text" class="form-control rating-input" data-mask="99" placeholder="" value="{max_rating}"></td>
    <td class="btn btn-danger btn-icon remove-item hidden-print"><i class="entypo-trash"></i> Удалить</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-project-features-list-0">
  <select class="to-select2 project-features-list" data-allow-clear="true" data-placeholder="Выберите название характеристики">
    <option></option>
    <option value="Оформление текста работы">Оформление текста работы</option>
    <option value="Оформление библиографии">Оформление библиографии</option>
    <option value="использование иностранных источников">Использование иностранных источников</option>
    <option value="Соблюдение графика подготовки и сроков сдачи законченной работы">Соблюдение графика подготовки и сроков сдачи законченной работы</option>
    <option value="-1">Другое ...</option>
  </select>
</script>

<script type="javascript/template" id="tmpl-project-features-list-1">
  <select class="to-select2 project-features-list" data-allow-clear="true" data-placeholder="Выберите название характеристики">
    <option></option>
    <option value="Умение искать необходимую информацияю">Умение искать необходимую информацияю</option>
    <option value="Актуальность темы и оригинальность выполнения">Актуальность темы и оригинальность выполнения</option>
    <option value="Правильность и уместность использования методов и информации">Правильность и уместность использования методов и информации</option>
    <option value="Практическая ценность работы">Практическая ценность работы</option>
    <option value="Соответствие содержания заявленной теме">Соответствие содержания заявленной теме</option>
    <option value="Наличие элементов научной новизны">Наличие элементов научной новизны</option>
    <option value="-1">Другое ...</option>
  </select>
</script>

<script type="javascript/template" id="tmpl-project-features-list-2">
  <select class="to-select2 project-features-list" data-allow-clear="true" data-placeholder="Выберите название характеристики">
    <option></option>
    <option value="Логичность, умение общаться, убеждать">Логичность, умение общаться, убеждать</option>
    <option value="Качество доклада">Качество доклада</option>
    <option value="Владение терминологией в устной речи">Владение терминологией в устной речи</option>
    <option value="-1">Другое ...</option>
  </select>
</script>

<script type="javascript/template" id="tmpl-day-of-month-cell">
  <td class="btn btn-info btn-icon {is_future} class-number class-{class_id}" data-class-date="{class_date}" data-class-number="{class_number}"><span class="class-number-alias">{class_text}</span><i class="entypo-calendar class-date" data-class-date="{class_date}"></i></td>
</script>

<script type="javascript/template" id="tmpl-attendance-student-line">
  <tr class="student student-{student_id}" data-student-id="{student_id}">
    <td>{number}</td>
    <td><a href="#" onclick="showProfile({user_id})">{last_name} {first_name}</a></td>
    {mark_tds}
  </tr>
</script>

<script type="javascript/template" id="tmpl-attendance-student-line-editable-cell">
  <td contenteditable="{contenteditable}" class="mark editable mark-{number} {is_future}" data-class-number="{number}">
</script>

<script type="javascript/template" id="tmpl-attendance-month-header">
  <th class="hidden">{name}</th>
</script>

<script type="javascript/template" id="tmpl-progress-student-line">
  <tr class="student-line student-{student_id}" data-student-id="{student_id}">
    <td>{number}</td>
    <td><a href="#" onclick="showProfile({user_id})">{last_name} {first_name}</a></td>
    {mark_tds}
  </tr>
</script>

<script type="javascript/template" id="tmpl-control-event-header">
  <th class="control-event-header"> Р{number} ( до {max_rating}) <button class="btn btn-info btn-xs control-event-info hidden-print" title="Информация"><i class="entypo-info"></i></button> </th>
</script>

<script type="javascript/template" id="tmpl-control-event-student-line-editable-cell">
  <td contenteditable="true" data-control-event-id="{control_event_id}" data-max-rating="{max_rating}" class="editable control-mark control-mark-{control_event_id}"></td>
</script>

<script type="javascript/template" id="tmpl-control-event-popover-content">
  <table class="table table-bordered table-striped">
    <tr><th>Тип работы</th><td>{name}</td></tr>
    <tr><th>Описание</th><td>{description}</td></tr>
    <tr><th>Дата работы</th><td>{event_date}</td></tr>
    <tr><th>Активен до</th><td>{active_till}</td></tr>
    <tr><th>Макс. баллов</th><td>{max_rating}</td></tr>
  </table>
</script>

<script type="javascript/template" id="tmpl-control-types-select">
  <select class="to-select2">
    <option selected></option>
  </select>
</script>

<script type="javascript/template" id="tmpl-control-types-optgroup">
  <optgroup label="{subject_types}"></optgroup>
</script>

<script type="javascript/template" id="tmpl-control-types-option">
  <option value="{id}" data-min-rating="{min_rating}"> {name} </option>'
</script>

<script type="javascript/template" id="tmpl-exam-student-line">
  <tr class="student-line exam-line student-{user_id}" data-student-id="{student_id}">
    <td>{number}</td>
    <td><a href="#" onclick="showProfile({user_id})">{last_name} {first_name}</a></td>
    <td class="attendance-rating st-{student_id} mark">{attendance}</td>
    <td class="activity-rating st-{student_id} mark">{activity}</td>
    <td class="progress-rating st-{student_id} mark">{progress}</td>
    <td class="exam-mark st-{student_id} mark" contenteditable="true">{mark}</td>
    <td class="marks-sum st-{student_id}"></td>
    <td class="mark-total-text st-{student_id}"></td>
    <td class="date-of-change st-{student_id}">{date_of_change}</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-no-control-events-line">
  <tr>
    <td colspan="2">Контрольные мероприятия не указаны. Пожалуйста, укажите в <strong>настройках</strong> контрольные мероприятия.</td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-no-project-line">
  <tr class="no-project-line">
    <td colspan="9">Курсовая работа по данной дисциплине не задана. Пожалуйста, укажите в <strong>настройках</strong> наличие курсовой работы и критерии оценивания.</td>
  </tr>
</script>


<script type="javascript/template" id="tmpl-control-events-rating-sum">
  <tr class="control-events-sum">
    <td colspan="5">
      <b>Итого баллов за семестр по контрольным мероприятиям:</b>
    </td>
    <td class="{td_class}" title="Максимальный сумма баллов по контрольным мероприятиям в соответстии с положением о БРС составляет {max_control_events} баллов">
      {sum}/{max_control_events}
    </td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-feature-td">
  <td class="feature feature-group-{group_number} feature-{id}" data-feature-id="{id}" data-name="{name}" data-max-rating="{max_rating}" data-description="{description}">{name}</td>
</script>

<script type="javascript/template" id="tmpl-project-student-line">
  <tr class="student project-line student-{student_id} chance-type-{chance_type}" data-student-id="{student_id}" data-chance-type="{chance_type}">
    <td>{number}</td>
    <td><a href="#" onclick="showProfile({user_id})">{last_name} {first_name} </a></td>
    <td contenteditable="true" class="project-theme">{theme}</td>
    <td contenteditable="false" class="chance-date">
      <span class="chance-date-text">{chance_date}</span>
      <button class="btn btn-xs pull-right chance-date-calendar hidden-print" type="button"><i class="entypo-calendar"></i></button>
    </td>
  </tr>
</script>