<script type="javascript/template" id="tmpl-brsStudentView-page">
  <div class="page">
    <div class="timetable-env">
      <section class="timetable">
        <h2>Выберите семестр</h2>
        <div class="row">
          <div class="col-md-12">
            <select name="my-semesters" class="select2 semesters to-select2" data-allow-clear="true" data-placeholder="Выберите семестр...">
            </select>
          </div>
        </div>
        <p></p>

        <div class="tabs-vertical-env">
          <ul class="nav tabs-vertical subjects-tabs"><!-- available classes "right-aligned" -->

          </ul>

          <div class="tab-content tables-tab hidden">
                <div class="col-md-12">
                  <h2 class="text-center">Посещаемость и активность</h2>
                  <table id="attendance" class="table table-bordered table-striped table-hover">
                    <thead>
                      <tr class="attendance-header">
                        <th>Занятие</th>
                        <th>Баллы</th>
                      </tr>
                    </thead>
                    <tbody id="attendance-marks-tbody">

                    </tbody>
                  </table>


                  <h2 class="text-center">Успеваемость</h2>
                  <table id="progress" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                      <th>Работа</th>
                      <th>Баллы</th>
                    </tr>
                    </thead>
                    <tbody id="control-events-tbody">
                    </tbody>
                  </table>

                  <hr>
                  <div class="col-xs-8"></div>
                  <div class="col-xs-4 pull-right">
                    <h3> РЕЙТИНГ: 1 из группы (17 человек)</h3>
                  </div>

                </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</script>

<script type="javascript/template" id="tmpl-subject-line">
  <li class="subject-item" data-subject-id="{subject_id}"><a href="#" data-toggle="tab">{subject_name}</a></li>
</script>


<script type="javascript/template" id="tmpl-brs-semester-item">
  <option value="{semester_id}">{brs_semester}</option>
</script>

<script type="javascript/template" id="tmpl-attendance-tr">
  <tr class="class-line">
    <td class="class-date active">{class_date}</td>
    <td class="mark">{mark}</td>
  </tr>
</script>


<script type="javascript/template" id="tmpl-control-event-tr">
  <tr class="control-event-line">
    <td class="control-event-name">{control_event_name}</td>
    <td class="mark">{mark}/{max_rating}</td>
  </tr>
</script>