<script type="javascript/template" id="tmpl-canteens-page">
  <div class="page">
    <div class="row">

      <div class="col-sm-12">
        <h2>Меню в столовых на сегодня:</h2>
        <h4><span class="last-update-time badge badge-info badge-roundless"></span></h4>
        <div class="tabs-vertical-env">
          <ul class="nav tabs-vertical"><!-- available classes "right-aligned" -->
            <li class="canteen-item" data-canteen-id="336"><a href="#" data-toggle="tab">ГУК 1 этаж</a></li>
            <li class="canteen-item" data-canteen-id="1"><a href="#" data-toggle="tab">Б/Ц 1 этаж</a></li>
            <li class="canteen-item" data-canteen-id="747"><a href="#" data-toggle="tab">Преподавательская</a></li>
            <li class="canteen-item" data-canteen-id="2727"><a href="#" data-toggle="tab">Пельменная</a></li>
            <li class="canteen-item" data-canteen-id="3275"><a href="#" data-toggle="tab">Блинная</a></li>
            <li class="canteen-item" data-canteen-id="3455"><a href="#" data-toggle="tab">Клетка</a></li>
            <li class="canteen-item" data-canteen-id="3778"><a href="#" data-toggle="tab">Пицца</a></li>
            <li class="canteen-item" data-canteen-id="4150"><a href="#" data-toggle="tab">Кофейня</a></li>
            <li class="canteen-item" data-canteen-id="3084"><a href="#" data-toggle="tab">ГУК 8 этаж</a></li>
            <li class="canteen-item" data-canteen-id="4150"><a href="#" data-toggle="tab">Буфет (общежитие №2)</a></li>
            <li class="canteen-item" data-canteen-id="4326"><a href="#" data-toggle="tab">Буфет (общежитие №6)</a></li>
          </ul>

          <div class="tab-content">
            <div class="panel-options pull-left meal-groups hidden">
              <ul class="nav nav-tabs">
                <li class="tab-item meal-group active" data-group-id="1"><a href="#" data-toggle="tab" class="handled"><i class="fa fa-circle-o"></i> Первые блюда</a></li>
                <li class="tab-item meal-group" data-group-id="2"><a href="#" data-toggle="tab" class="handled"><i class="fa fa-cutlery"></i> Вторые блюда</a></li>
                <li class="tab-item meal-group" data-group-id="5"><a href="#" data-toggle="tab" class="handled"><i class="fa fa-sun-o"></i> Гарниры</a></li>
                <li class="tab-item meal-group" data-group-id="6"><a href="#" data-toggle="tab" class="handled"><i class="fa fa-coffee"></i> Напитки</a></li>
                <li class="tab-item meal-group" data-group-id="7"><a href="#" data-toggle="tab" class="handled"><i class="fa fa-lemon-o"></i> Салаты</a></li>
                <li class="tab-item meal-group" data-group-id="662"><a href="#" data-toggle="tab" class="handled"><i class="entypo-picture"></i> Бутерброды</a></li>
                <li class="tab-item meal-group" data-group-id="2727"><a href="#" data-toggle="tab" class="handled"><i class="entypo-cog"></i> Кондитерские изделния</a></li>
                <li class="tab-item meal-group" data-group-id="2753"><a href="#" data-toggle="tab" class="handled"><i class="entypo-cog"></i> Штучные</a></li>
              </ul>
              <div class="meals-view">
                <div class="meals-line col-md-12">
                  <div class="row meals">
                  </div>
                </div>
                <div class="meals-line col-md-12">
                  <div class="row meals">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</script>


<script type="javascript/template" id="tmpl-meal-item">
  <div class="panel panel-primary col-md-3 meal-item">
    <div class="panel-heading">
      <div class="panel-title" style="max-width: 70%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;" title="{meal_name}">{meal_name}</div>
      <span class="badge badge-success badge-roundless pull-right">{price} руб.</span>
    </div>
    <div class="panel-body" style="text-align: center;">
      <p>
        <a href="#" class="member-img">
          <img src="assets/images/food/{img_num}.jpg" class="img-rounded" style="width: 100%;">
        </a>
      </p>
    </div>
  </div>
</script>