<script type="javascript/template" id="tmpl-catalog-page">
  <div class="page">
    <div class="catalog-env">
      <section class="catalog">
        <div class="row">
          <div class="col-md-8 col-sm-6">
            <h2>Справочник</h2>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="search-form-full">
              <div class="form-group">
                <input type="text" class="form-control search-input" id="search-input" placeholder="Поиск...">
                <i class="entypo-search"></i>
              </div>
              <h4>Показывать профили</h4>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-white active btn-filter-profiles">
                  <input type="radio" name="filter-users" id="option1" value="all" checked="checked"><i class="fa fa-group"></i> Всех
                </label>
                <label class="btn btn-white btn-filter-profiles">
                  <input type="radio" name="filter-users" id="option2" value="staff"><i class="glyphicon glyphicon-briefcase"></i> Только сотрудников
                </label>
                <label class="btn btn-white btn-filter-profiles">
                  <input type="radio" name="filter-users" id="option3" value="students"><i class="glyphicon glyphicon-book"></i> Только студентов
                </label>
              </div>
            </div>
          </div>
        </div>
    <div class="members">
      {stars_html}
    </div>
      </section>
    </div>
  </div>
</script>

<script type="javascript/template" id="tmpl-user-item">
  <div class="member-entry">
		{sticker}
    <a href="javascript:showProfile({user_id});" class="member-img handled">
      <img src="{avatar}" class="img-rounded" />
      <i class="entypo-forward"></i>
    </a>
    <div class="member-details">
      <h4>
        <a class="handled" href="javascript:showProfile({user_id});">{last_name} {first_name} {middle_name}</a>
      </h4>
      <div class="department" style="margin-left: 10px">
        <div class="col-sm-12">
          <i class="entypo-box"></i>
          <span class="department">{work_full_path}</span>
        </div>
      </div>
      <div class="row info-list">
        <div class="col-sm-4">
          <i class="entypo-briefcase"></i>
          <span class="role">{role}</span>
        </div>
        <div class="col-sm-4">
          <i class="entypo-mobile"></i>
          <span class="mobile">{phone_number}</span>
          <span class="mobile">{office_tel}</span>
        </div>
        <div class="col-sm-4">
          <i class="entypo-facebook"></i>
          <a href="{fb_url}" target="_blank">{fb_url}</a>
        </div>
        <div class="clear"></div>
        <div class="col-sm-4">
          <i class="entypo-location"></i>
          <span class="room-number">{room}</span>
        </div>
        <div class="col-sm-4">
          <i class="entypo-mail"></i>
          <a href="mailto:{email}" target="_blank">{ad_login}</a>
        </div>
        <div class="col-sm-4">
          <i class="entypo-vkontakte"></i>
          <a href="{vk_url}" target="_blank">{vk_url}</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</script>
