<script type="javascript/template" id="tmpl-index-page">
	<div class="page">
		<div class="row">
			<div class="col-sm-3 tile-brs" style="display: none;">
				<div class="tile-stats tile-red ">
					<div class="icon"><i class="entypo-chart-bar"></i></div>
					<div class="num" data-start="0" data-end="{brs_new_count}" data-postfix="" data-duration="1500" data-delay="0">
						<i class="entypo-arrows-ccw"
							 style="-webkit-animation: spin 1.5s linear reverse infinite; animation: spin 1.5s linear reverse infinite;"></i>
					</div>
					<h3>оценок</h3>
				</div>
			</div>

			<div class="col-sm-3 tile-timetable" style="display: none;">
				<div class="tile-stats tile-green">
					<div class="icon"><i class="entypo-newspaper"></i></div>
					<div class="num" data-start="0" data-end="{timetable_count}" data-postfix="" data-duration="1500" data-delay="600">
						<i class="entypo-arrows-ccw"
							 style="-webkit-animation: spin 1.5s linear reverse infinite; animation: spin 1.5s linear reverse infinite;"></i>
					</div>
					<h3>расписание</h3>
				</div>
			</div>

			<div class="col-sm-3 tile-email">
				<div class="tile-stats tile-aqua">
					<div class="icon"><i class="entypo-mail"></i></div>
					<div class="num unread-emails-tile" data-start="0" data-end="" data-postfix="" data-duration="1500" data-delay="1200">
						<i class="entypo-arrows-ccw"
							 style="-webkit-animation: spin 1.5s linear reverse infinite; animation: spin 1.5s linear reverse infinite;"></i>
					</div>
					<h3>писем в корпоративной почте</h3>
				</div>
			</div>

			<div class="col-sm-3 tile-requisitions" style="display: none;">
				<div class="tile-stats tile-blue">
					<div class="icon"><i class="entypo-info"></i></div>
					<div class="num" data-start="0" data-end="{requisitions_count}" data-postfix="" data-duration="1500" data-delay="1800">
						<i class="entypo-arrows-ccw"
							 style="-webkit-animation: spin 1.5s linear reverse infinite; animation: spin 1.5s linear reverse infinite;"></i>
					</div>
					<h3>заявок</h3>
				</div>
			</div>


			<div class="col-sm-3 tile-requisitions">
				<div class="tile-stats tile-blue">
					<div class="icon"><i class="entypo-info"></i></div>
					<div class="num" data-start="0" data-end="0" data-postfix="" data-duration="1500" data-delay="1800">Изменений нет
					</div>
					<h3>новости</h3>
				</div>
			</div>
		</div>

		<ul id="index_timeline" class="cbp_tmtimeline">

		</ul>
    <div class="alert alert-info"><strong>Уважаемый пользователь!</strong> Если у Вас возникли проблемы с работой Личного кабинета или появились вопросы и предложения, обращайтесь в ЦНИТ по телефонам 12-08 и 10-23 или e-mail: my@guu.ru</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-timeline-brs-row">
	<li>
		<time class="cbp_tmtime" datetime="{change_date}"><span>{readable_change_time}</span> <span>{readable_change_date}</span></time>
		<div class="cbp_tmicon bg-secondary"></div>
		<div class="cbp_tmlabel empty">
			<h2>{subject_name} <span> - {mark} балл(а/ов)</span></h2>
			<p><a href="javascript:showProfile({cuid});" class="handled">{changer_name}</a> поставил(а) вам {mark} балл(а/ов) по предмету {subject_name}</p>
		</div>
	</li>
</script>

<script type="javascript/template" id="tmpl-timeline-timetable-row">
	<li>
		<time class="cbp_tmtime" datetime="{change_date}"><span>{readable_change_time}</span> <span>{readable_change_date}</span></time>
		<div class="cbp_tmicon bg-success"></div>
		<div class="cbp_tmlabel empty">
			<h2>Теперь {day_type} по {week_type}<sup>ым</sup> неделям {class_type}<sup>{class_type_text}</sup> парой у Вас {class_format_text} по предмету {subject_name}</h2>
			<p>Ведет <a href="javascript:showProfile({professor_id});" class="handled">{full_name}</a> c {kaf_name} в {building_type} {room}</p>
		</div>
	</li>
</script>

<script type="javascript/template" id="tmpl-timeline-email-row">
	<li>
		<time class="cbp_tmtime" datetime="{receive_date}"><span>{readable_receive_time}</span> <span>{readable_receive_date}</span></time>
		<div class="cbp_tmicon bg-info"></div>
		<div class="cbp_tmlabel empty">
			<h2>Вам пришло письмо от {from_name} ({from_email})</h2>
			<p>{subject}</p>
      <p style="text-align: right;">
        <a href="{link}" target="_blank" class="btn btn-primary"><i class="entypo-right-open"></i> Открыть</a>
      </p>
		</div>
	</li>
</script>

<script type="javascript/template" id="tmpl-timeline-requisitions-row">
	<li>
		<time class="cbp_tmtime" datetime="{receive_date}"><span>{readable_receive_time}</span> <span>{readable_receive_date}</span></time>
		<div class="cbp_tmicon bg-blue"></div>
		<div class="cbp_tmlabel empty">
			<h2>Поступила новая заявка на получение справки для {to_organization}</h2>
		</div>
	</li>
</script>

<script type="javascript/template" id="tmpl-open-email-btn">
  <div class="col-md-12 text-center go-to-email-btn">
	<a href="https://outlook.office365.com" target="_blank" class="btn btn-info"> <i class="entypo-right-open"></i> Перейти в мою корпоративную почту</a>
    <p></p>
    <p></p>
  </div>
</script>