<script type="javascript/template" id="tmpl-instituteStudents-page">
  <div class="page">
    <div class="row">
      <div class="col-md-4">
        <select class="select2 forms to-select2" data-allow-clear="true" data-placeholder="Выберите форму обучения...">
          <option></option>
          <option value="1">Бакалавриат (дневное)</option>
          <option value="2">Бакалавриат (вечернее)</option>
          <option value="3">Магистратура</option>
        </select>
      </div>
      <div class="col-md-4">
        <select class="select2 courses to-select2" data-placeholder="Выберите курс..." data-allow-clear="true">
          <option></option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <div class="col-md-4">
        <select name="groups" class="select2 groups to-select2" data-allow-clear="true" data-placeholder="Выберите группу...">
          <option></option>
        </select>
      </div>
    </div>
    <div id="students-table">
      <div class="row" style="margin: 20px 20px;">
        <div class="col-sm-1">Показать:</div>
        <div class="col-sm-11">
          <div class="btn-group custom-btn-group">
            <button type="button" data-filter-type="all" class="btn btn-default btn-show-group active" style="width: 33.333333333%;">Всех</button>
            <button type="button" data-filter-type="full"  class="btn btn-default btn-show-group" style="width: 33.333333333%;">Со всеми данными</button>
            <button type="button" data-filter-type="not_full"  class="btn btn-default btn-show-group" style="width: 33.333333333%;">С неполными данными</button>
          </div>
        </div>
      </div>
      <table class="table table-condensed table-bordered table-hover table-striped">
        <thead>
        <tr>
          <td>#</td>
          <td>Студент</td>
          <td>Дата последнего изменения</td>
          <td>Заполнено</td>
          <td>Согласие на обработку</td>
          <td>Паспортные данные</td>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12">
      <button type="button" class="btn btn-red btn-icon btn-block send-error-message">
        Ошибка в списке
        <i class="entypo-right-circled"></i>
      </button>
    </div>

    <div class="modal fade custom-width edit-student-passport-info hidden"></div>

    <div class="modal fade custom-width send-error-modal hidden"></div>
  </div>

</script>

<script type="javascript/template" id="tmpl-student-line">
	<tr data-user-id="{id}" class="student-line student-{user_id}">
		<td>{list_number}</td>
		<td>{last_name} {first_name} {middle_name}</td>
		<td class="update-date">{update_date}</td>
		<td class="{filled_class} filled">{filled_text}</td>
    <td class="agreement-td"><span>{agreement_text}</span><i class="entypo-{agreement_icon_class}"></i></td>
		<td class="btn btn-success btn-icon edit-student-info-btn">
			<span>Изменить</span>
			<i class="entypo-pencil"></i>
		</td>

</script>




<script type="javascript/template" id="tmpl-edit-student-info">
  <div class="modal-dialog" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Редактирование информации о студенте {last_name} {first_name} {middle_name}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12" style="text-align: center;">
            <h3 class="role">{last_name} {first_name} {middle_name}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary with-table" data-collapsed="0">
              <div class="panel-heading">
                <div class="panel-title">
                  Паспортные данные
                </div>
              </div>

              <div class="panel-body with-table">
                <table class="table table-condensed table-bordered table-hover table-striped">
                  <tbody>
                  <tr>
                    <td class="active" style="min-width: 250px;">Фамилия</td>
                    <td>{last_name}</td>
                  </tr>
                  <tr>
                    <td class="active">Имя</td>
                    <td>{first_name}</td>
                  </tr>
                  <tr>
                    <td class="active">Отчество</td>
                    <td>{middle_name}</td>
                  </tr>
                  <tr>
                    <td class="active">Дата рождения</td>
                    <td style="min-width: 250px">
                      <div class="input-group">
                        <input type="text" class="form-control datepicker" name="birth_date" value="{birth_date}">
                        <div class="input-group-addon">
                          <a href="#"><i class="entypo-calendar"></i></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Документ</td>
                    <td style="min-width: 250px">
                      <select class="select2 document to-select2">
                        <option value="1" selected>Паспорт гражданина РФ (образца 1997 года)</option>
                        <option value="2">Загранпаспорт гражданина Российской федерации</option>
                        <option value="3">Свидетельство о рождении</option>
                        <option value="4">Удостоверение личности офицера</option>
                        <option value="5">Военный билет солдата (матроса, сержанта, старшины)</option>
                        <option value="6">Иностранный паспорт</option>
                        <option value="7">Свидетельство о регистрации ходатайства иммигранта</option>
                        <option value="8">Вид на жительство</option>
                        <option value="9">Удостоверение беженца</option>
                        <option value="10">Временное удостоверение личности гражданина РФ</option>
                        <option value="11">Разрешение на временное проживание в Российской федерации</option>
                        <option value="12">Свидетельство о рождении, выданное уполномоченным органом иностранного государства</option>
                        <option value="13">Иные документы</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Серия</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="series" value="{series}">
                        <div class="input-group-addon">
                          <i class="fa fa-barcode"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Номер</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="number" value="{number}">
                        <div class="input-group-addon">
                          <i class="fa fa-tag"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Дата выдачи</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control datepicker" name="issue_date" value="{issue_date}">
                        <div class="input-group-addon">
                          <a href="#"><i class="entypo-calendar"></i></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Кем выдан</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="issue_place" value="{issue_place}">
                        <div class="input-group-addon">
                          <i class="fa fa-link"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Адрес прописки</td>
                    <td>
                      <div class="input-group">
                        Страна
                        <input type="text" class="form-control registration country" data-type="country" name="registration-country" value="{country}" placeholder="РФ">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Регион
                        <input type="text" class="form-control registration region" data-type="region" name="registration-region" value="{region}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Район
                        <input type="text" class="form-control registration district" data-type="district" name="registration-district" value="{district}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Город
                        <input type="text" class="form-control registration city" data-type="city" name="registration-city" value="{city}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Улица
                        <input type="text" class="form-control registration street" data-type="street" name="registration-street" value="{street}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Дом
                        <input type="text" class="form-control registration building" data-type="building" name="registration-building" value="{building}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>


                      <div class="input-group">
                        Квартира
                        <input type="text" class="form-control registration flat" name="registration-flat" value="{flat}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>
                    </td>
                  </tr>


                  <tr>
                    <td class="active">Адрес фактического проживания</td>
                    <td>
                      <div class="input-group">
                        Страна
                        <input type="text" class="form-control country residence" data-type="country" name="residence-country" value="{res_country}" placeholder="РФ">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Регион
                        <input type="text" class="form-control region residence" data-type="region" name="residence-region" value="{res_region}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Район
                        <input type="text" class="form-control district residence" data-type="district" name="residence-district" value="{res_district}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Город
                        <input type="text" class="form-control city residence" data-type="city" name="residence-city" value="{res_city}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>0
                      </div>

                      <div class="input-group">
                        Улица
                        <input type="text" class="form-control street residence" data-type="street" name="residence-street" value="{res_street}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Дом
                        <input type="text" class="form-control building residence" data-type="building" name="residence-building" value="{res_building}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>


                      <div class="input-group">
                        Квартира
                        <input type="text" class="form-control flat residence" data-type="flat" name="residence-flat" value="{res_flat}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>

                      <button type="button" class="btn btn-blue btn-block copy-from-registration"><i class="fa fa-copy"></i> Скопировать из адреса прописки</button>
                    </td>
                  </tr>
                  <tr><td colspan="2" class="active">Необязательные поля</td></tr>
                  <tr>
                    <td class="active">СНИЛС</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="snils" value="{snils}">
                        <div class="input-group-addon">
                          <i class="entypo-doc-landscape"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Email</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="email" value="{email}">
                        <div class="input-group-addon">
                          <i class="entypo-mail"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Номер мобильного телефона</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="phone_number" value="{phone_number}">
                        <div class="input-group-addon">
                          <i class="entypo-phone"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Согласие на обработку данных</td>
                    <td data-agreement="{agreement}" class="btn btn-{agreement_class} btn-icon student-agreement-btn">
                      <span>{agreement_text}</span><i class="entypo-{agreement_icon_class}"></i>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tooltip" style="display: none;"><b></b><span></span></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-success btn-icon save-and-send">
          <i class="entypo-floppy"></i>
          Данные верные, сохранить
        </button>
      </div>
    </div>
  </div>
</script>

<script type="javascript/template" id="tmpl-error-modal">
  <div class="modal-dialog" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ошибка в списке</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-info"><strong>Опишите ошибку!</strong>
              <p>По возможности максимально подробно опишите проблему, с которой Вы столкнулись</p>
              <p><strong>Обязательно указывайте:</strong></p>
              <ul>
                <li>Название группы</li>
                <li>Фамилию, имя, отчество студента, которого не хватает в группе или является лишним</li>
                <li>В какой группе должен быть студент</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <textarea class="form-control description" placeholder="Введите описание ошибки">
          </textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-info btn-icon send-error">
          <i class="entypo-mail"></i>
          Отправить
        </button>
      </div>
    </div>
  </div>
</script>

<script type="javascript/template" id="tmpl-students-group-option">
  <option data-student-group-id="{student_group_id}" value="{student_group_id}">{normal_name}</option>
</script>