<script type="javascript/template" id="tmpl-instituteStudents-page">
  <div class="page">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-6"></div>
        <div class="col-xs-6">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                <span class="btn-text">Поиск по: Фамилии </span><span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-info">
                <li><a class="search-type-item" href="#" data-value="last_name">Фамилии</a></li>
                <li><a class="search-type-item" href="#" data-value="full_name">Полному имени</a></li>
                <li><a class="search-type-item" href="#" data-value="personal_file">Номеру зачетки</a></li>
                <li class="divider"></li>
                <li><a class="search-type-item" href="#" data-value="birth_date">Дате рождения (ГГГГ-ММ-ДД)</a></li>
              </ul>
            </div>
            <input type="text" class="form-control search-student-passport" placeholder="Поиск студентов">
            <span class="input-group-btn"> <button class="btn btn-success search-student-passport-btn" type="button">Найти</button>
            </span>
          </div>
          <p></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="col-md-2">
          <select class="select2 edu_forms to-select2 filter-select" data-request-param="edu_form_id" data-name="edu_forms-id" data-allow-clear="true" data-placeholder="Выберите форму обучения...">
            <option></option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="select2 edu_qualifications to-select2 filter-select"  data-request-param="edu_qualification_id" data-name="edu_qualifications-id" data-allow-clear="true" data-placeholder="Выберите уровень образования...">
            <option></option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="select2 institutes to-select2 filter-select"  data-request-param="institute_id" data-name="institutes-id" data-allow-clear="true" data-placeholder="Выберите институт...">
            <option></option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="select2 edu_specialties to-select2 filter-select"  data-request-param="edu_speciality_name" data-name="edu_specialties-name" data-allow-clear="true" data-placeholder="Выберите направление подготовки...">
            <option></option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="select2 to-select2 courses filter-select"  data-request-param="course" data-name="courses-id" data-allow-clear="true" data-placeholder="Выберите курс..." >
            <option></option>
          </select>
        </div>
        <div class="col-md-2">
          <select name="groups" class="select2 groups to-select2 filter-select"  data-request-param="edu_form_id" data-name="groups-id" data-allow-clear="true" data-placeholder="Выберите группу...">
            <option></option>
          </select>
        </div>
      </div>
    </div>
    <div id="students-table">
      <div class="row" style="margin: 20px 20px;">
        <div class="col-sm-8"></div>
        <div class="col-sm-4">
          <a class="btn btn-info pull-right clear-all-selects" href="#"> Сбросить все </a>
          <a class="btn btn-success pull-right get-students-list-btn" href="#"> Показать выбранное</a>
        </div>
      </div>
      <table class="table table-condensed table-bordered table-hover table-striped hidden">
        <thead>
        <tr>
          <th>#</th>
          <th>Фамилия</th>
          <th>Имя</th>
          <th>Отчество</th>
          <th>Направление</th>
          <th>Группа</th>
          <th>Дата последнего изменения</th>
          <th>Заполнено</th>
          <th>Статус</th>
          <th>Описание статуса</th>
          <th>Согласие на обработку</th>
          <th>Паспортные данные</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>

    <div class="col-xs-12">
      <button type="button" class="btn hidden btn-red btn-icon btn-block send-error-message">
        Ошибка в списке
        <i class="entypo-right-circled"></i>
      </button>
    </div>

    <div class="modal fade custom-width edit-student-passport-info hidden"></div>

    <div class="modal fade custom-width send-error-modal hidden"></div>
  </div>

</script>

<script type="javascript/template" id="tmpl-filtering-row">
  <tr class="filtering-row">
    <td data-index="0"></td>
    <td data-index="1" data-filter-type="td-select2">
      <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
    </td>
    <td data-index="2" data-filter-type="td-select2">
      <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
    </td>
    <td data-index="3" data-filter-type="td-select2">
      <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
    </td>
    <td data-index="4" data-filter-type="td-select2">
      <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
    </td>
    <td data-index="5" data-filter-type="td-select2">
      <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
    </td>
    <td data-index="6" data-filter-type="td-date">
      <a href="#" class="btn btn-default"><i class="fa fa-calendar"></i> <span></span></a>
    </td>
    <td data-index="7" data-filter-type="td-select2">
      <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
    </td>
    <td data-index="8" data-filter-type="td-select2">
      <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
    </td>
    <td data-index="9" data-filter-type="td-select2">
      <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
    </td>
    <td data-index="10" data-filter-type="td-select2">
      <button type="button" class="btn btn-default"><i class="fa fa-filter"></i></button>
    </td>
    <td data-index="11"></td>
  </tr>
</script>

<script type="javascript/template" id="tmpl-student-line">
  <tr data-user-id="{id}" class="student-line student-{user_id}" data-student-id="{student_id}">
    <td>{list_number}</td>
    <td>{last_name}</td>
    <td>{first_name}</td>
    <td>{middle_name}</td>
    <td>{edu_speciality_name}</td>
    <td>{group_name}</td>
    <td class="update-date">{update_date}</td>
    <td class="{filled_class} filled">{filled_text}</td>
    <td class="gupmsr-status">{student_status}</td>
    <td class="gupmsr-description">{message}</td>
    <td class="agreement-td agreement_class">{agreement_text}</td>
    <td class="btn btn-info btn-icon edit-student-info-btn">
      <span>Изменить</span>
      <i class="entypo-pencil"></i>
    </td>
  </tr>
</script>




<script type="javascript/template" id="tmpl-edit-student-info">
  <div class="modal-dialog" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Редактирование информации о студенте {last_name} {first_name} {middle_name}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-4" style="text-align: center">
            <img src="/images/student_photos/index.php?id={user_id}" id="user-photo" class="img-rounded" style="max-width: 150px; max-height: 150px;">
            <input type="file" class="form-control" id="photo-file-field" placeholder="Фотография пользователя">
          </div>
          <div class="col-sm-8" style="text-align: center;">
            <h3 class="role">{last_name} {first_name} {middle_name}</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-primary with-table" data-collapsed="0">
              <div class="panel-heading">
                <div class="panel-title">
                  Паспортные данные
                </div>
              </div>

              <div class="panel-body with-table">
                <table class="table table-condensed table-bordered table-hover table-striped">
                  <tbody>
                  <tr>
                    <td class="active" style="min-width: 250px;">Фамилия</td>
                    <td>{last_name}</td>
                  </tr>
                  <tr>
                    <td class="active">Имя</td>
                    <td>{first_name}</td>
                  </tr>
                  <tr>
                    <td class="active">Отчество</td>
                    <td>{middle_name}</td>
                  </tr>
                  <tr>
                    <td class="active">Дата рождения</td>
                    <td style="min-width: 250px">
                      <div class="input-group">
                        <input type="text" class="form-control datepicker" name="birth_date" value="{birth_date}">
                        <div class="input-group-addon">
                          <a href="#"><i class="entypo-calendar"></i></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Место рождения</td>
                    <td style="min-width: 250px">
                      <div class="input-group">
                        <input type="text" class="form-control" name="birth_place" value="{birth_place}">
                        <div class="input-group-addon">
                          <a href="#"><i class="entypo-map"></i></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Документ</td>
                    <td style="min-width: 250px">
                      <select class="select2 document to-select2">
                        <option value="1" selected>Паспорт гражданина РФ (образца 1997 года)</option>
                        <option value="2">Загранпаспорт гражданина Российской федерации</option>
                        <option value="3">Свидетельство о рождении</option>
                        <option value="4">Удостоверение личности офицера</option>
                        <option value="5">Военный билет солдата (матроса, сержанта, старшины)</option>
                        <option value="6">Иностранный паспорт</option>
                        <option value="7">Свидетельство о регистрации ходатайства иммигранта</option>
                        <option value="8">Вид на жительство</option>
                        <option value="9">Удостоверение беженца</option>
                        <option value="10">Временное удостоверение личности гражданина РФ</option>
                        <option value="11">Разрешение на временное проживание в Российской федерации</option>
                        <option value="12">Свидетельство о рождении, выданное уполномоченным органом иностранного государства</option>
                        <option value="13">Иные документы</option>
                      </select>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Серия</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="series" value="{series}">
                        <div class="input-group-addon">
                          <i class="fa fa-barcode"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Номер</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="number" value="{number}">
                        <div class="input-group-addon">
                          <i class="fa fa-tag"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Дата выдачи</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control datepicker" name="issue_date" value="{issue_date}">
                        <div class="input-group-addon">
                          <a href="#"><i class="entypo-calendar"></i></a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Кем выдан</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="issue_place" value="{issue_place}">
                        <div class="input-group-addon">
                          <i class="fa fa-link"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Код подразделения</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="issue_place_code" value="{issue_place_code}">
                        <div class="input-group-addon">
                          <i class="fa fa-link"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Адрес прописки</td>
                    <td>
                      <div class="input-group">
                        Страна
                        <input type="text" class="form-control registration country typeahead" data-type="country" name="registration_country" value="{registration_country}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Регион
                        <input type="text" class="form-control registration region typeahead" data-type="region" name="registration_region" value="{registration_region}" data-id="{registration_region_kladr}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Район
                        <input type="text" class="form-control registration district typeahead" data-type="district" name="registration_district" value="{registration_district}" data-id="{registration_district_kladr}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Город
                        <input type="text" class="form-control registration city typeahead" data-type="city" name="registration_city" value="{registration_city}" data-id="{registration_city_kladr}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Улица
                        <input type="text" class="form-control registration street typeahead" data-type="street" name="registration_street" value="{registration_street}" data-id="{registration_street_kladr}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Дом
                        <input type="text" class="form-control registration building typeahead" data-type="building" name="registration_building" value="{registration_building}" data-id="{registration_building_kladr}">
                        <input type="hidden" name="registration_postcode" class="registration postcode" value=" ">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>


                      <div class="input-group">
                        Квартира
                        <input type="text" class="form-control registration flat typeahead" name="registration_flat" value="{registration_flat}">
                        <div class="input-group-addon">
                          <i class="fa fa-home"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Адрес фактического проживания</td>
                    <td>
                      <div class="input-group">
                        Страна
                        <input type="text" class="form-control country residence typeahead" data-type="country" name="residence_country" value="{residence_country}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Регион
                        <input type="text" class="form-control region residence typeahead" data-type="region" name="residence_region" value="{residence_region}" data-id="{residence_region_kladr}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Район
                        <input type="text" class="form-control district residence typeahead" data-type="district" name="residence_district" value="{residence_district}" data-id="{residence_district_kladr}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Город
                        <input type="text" class="form-control city residence typeahead" data-type="city" name="residence_city" value="{residence_city}" data-id="{residence_city_kladr}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Улица
                        <input type="text" class="form-control street residence typeahead" data-type="street" name="residence_street" value="{residence_street}" data-id="{residence_street_kladr}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>

                      <div class="input-group">
                        Дом
                        <input type="text" class="form-control building residence typeahead" data-type="building" name="residence_building" value="{residence_building}" data-id="{residence_building_kladr}">
                        <input type="hidden" name="residence_postcode" class="residence postcode" value=" ">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>


                      <div class="input-group">
                        Квартира
                        <input type="text" class="form-control flat residence typeahead" data-type="flat" name="residence_flat" value="{residence_flat}">
                        <div class="input-group-addon">
                          <i class="fa fa-building-o"></i>
                        </div>
                      </div>

                      <button type="button" class="btn btn-blue btn-block copy-from-registration"><i class="fa fa-copy"></i> Скопировать из адреса прописки</button>
                    </td>
                  </tr>

                  <tr>
                    <td class="active">Номер мобильного телефона</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="phone_number" value="{phone_number}" data-mask="+79999999999">
                        <div class="input-group-addon">
                          <i class="entypo-phone"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr><td colspan="2" class="active">Необязательные поля</td></tr>
                  <tr>
                    <td class="active">СНИЛС</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="snils" value="{snils}" data-mask="999-999-999 99">
                        <div class="input-group-addon">
                          <i class="entypo-doc-landscape"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Email</td>
                    <td>
                      <div class="input-group">
                        <input type="text" class="form-control" name="email" value="{email}" data-mask="email">
                        <div class="input-group-addon">
                          <i class="entypo-mail"></i>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Скан документа</td>
                    <td>
                      <div class="input-group">
                        <input type="file" class="form-control" id="field-file" placeholder="Скан паспорта учащегося" name="file_scan">
                      </div>
                      <div class="document-image-wrapper pull-right">
                        {document_scan_img}
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td class="active">Согласие на обработку данных</td>
                    <td data-agreement="{agreement}" class="btn btn-{agreement_class} btn-icon student-agreement-btn">
                      <span>{agreement_text}</span><i class="entypo-{agreement_icon_class}"></i>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tooltip" style="display: none;"><b></b><span></span></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-success btn-icon save-and-send">
          <i class="entypo-floppy"></i>
          Данные верные, сохранить
        </button>
      </div>
    </div>
  </div>
</script>

<script type="javascript/template" id="tmpl-error-modal">
  <div class="modal-dialog" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Ошибка в списке</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <div class="alert alert-info"><strong>Опишите ошибку!</strong>
              <p>По возможности максимально подробно опишите проблему, с которой Вы столкнулись</p>
              <p><strong>Обязательно указывайте:</strong></p>
              <ul>
                <li>Название группы</li>
                <li>Фамилию, имя, отчество студента, которого не хватает в группе или является лишним</li>
                <li>В какой группе должен быть студент</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <textarea class="form-control description" placeholder="Введите описание ошибки">
          </textarea>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
        <button type="button" class="btn btn-info btn-icon send-error">
          <i class="entypo-mail"></i>
          Отправить
        </button>
      </div>
    </div>
  </div>
</script>

<script type="javascript/template" id="tmpl-students-group-option">
  <option data-student-group-id="{id}" value="{id}">{normal_name}</option>
</script>

<script type="javascript/template" id="tmpl-document-scan-img">
  <a href="/images/passports/index.php?id={user_id}" target="_blank">
    <img class="document-scan-img" src="/images/passports/index.php?id={user_id}">
  </a>
</script>