<script type="javascript/template" id="tmpl-instituteStats-page">
  <div class="page">
    <h2>Аттестация</h2>
		<div id="attestation">
			<div id="attestation-chart" style="position:relative;">
				<div id="chart" style="height:500px;"></div>
				<button id="chart-back" type="button" class="btn btn-blue hidden" style="position: absolute;top: 10px;left: 40px;"><i class="fa fa-arrow-left"></i> Назад</button>
			</div>
      <div class="alert alert-info">
        Для того чтобы посмотреть информацию по интересующему Вас Институту, щёлкните на соответствующий столбец в диаграмме. Вам откроется перечень Кафедр, входящих в состав Института. При нажатии на столбец какой-либо Кафедры, под диаграммой появится список её профессорско-преподавательского состава. Если Вам необходимо просмотреть Аттестационный лист конкретного преподавателя, нажмите на его фамилию в списке.
        Для того чтобы скрыть какой-либо Институт или Кафедру из области диаграммы, щёлкните соответствующее название в легенде.
        <b>Чтобы отсортировать список ППС кафедры по определенному столбцу, кликните на заголовок соответсвующего столбца </b>
      </div>
			<div id="attestation-table" style="display: none">
				<h3 id="attestation-table-header">Кафедра математики</h3>
				<table class="table table-striped sortable">
					<thead><tr><th>ФИО</th><th>КПК общий</th><th>КНК общий</th></tr></thead>
					<tbody></tbody>
				</table>
			</div>
		</div>
  </div>
</script>

<script type="javascript/template" id="tmpl-instituteStats-tableRow">
	/*
	staff_id
	name
	kpk
	knk
	*/
	<tr><td><a href="professorCertificationPrint.php?staff_id={staff_id}&user_id={user_id}" class="professor-certification-print-link">{name}</a></td><td>{kpk}</td><td>{knk}</td></tr>
</script>