<script type="javascript/template" id="tmpl-moodleGroups-page">
  <div class="page">


    <div class="row">
    <div class="col-md-12 hidden-print">
      <a href="#" id="refresh-moodle-courses-info" class="btn btn-info pull-right ladda-button btn-icon" data-style="slide-up"> <i class="fa fa-refresh"></i> Обновить данные</a>
    </div>
      <br>
      <p></p>
    </div>

    <div class="timetable-env">
      <section class="timetable">
        <div class="row">
          <div class="col-md-6">
            <select name="my-group" class="to-select2 groups" data-allow-clear="true"
                    data-placeholder="Выберите группу...">
              <option></option>
              <option value="Менеджмент 1-2 (ИМ), форма обучения: Дневное">Менеджмент 1-2 (ИМ), форма обучения: Дневное</option>
            </select>
          </div>
          <div class="col-md-6">
            <select name="subjects" class="to-select2 subjects" data-allow-clear="true"
                    data-placeholder="Выберите дисциплину...">
              <option></option>
              <option value="8" class="hidden professor-2191">КСЕ</option>
              <option value="2" class="hidden professor-1073">Экономическая теория</option>
            </select>
          </div>
        </div>
        <p></p>

        <div class="row">
          <div class="col-md-12">
            <div class="text-center hidden text-loading">Загружаем данные...</div>
            <table class="table table-bordered table-striped table-hover hidden" id="export-table">
            </table>
          </div>
        </div>
        <table id="moodle-students" class="table table-bordered table-striped table-hover hidden">
          <thead>
          <tr>
            <th>Студент</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <div class="text-right">
          <span> </span>
          <button class="btn btn-primary btn-icon print hidden-print">Печать <i class="entypo-print"></i></button>
          <button class="btn btn-success btn-icon open-moodle hidden-print">Перейти к курсу <i class="entypo-right-open"></i></button>
        </div>
      </section>
    </div>

  </div>
</script>

<script type="javascript/template" id="tmpl-main-table-tbody">
  <tbody>
  <tr class="span-calculate">
    <td colspan="2"><h3 style="text-align: center">Балльно-рейтинговая ведомость промежуточной аттестации обучающихся</h3></td>
  </tr>

  <tr class="span-calculate">
    <td colspan="2"><h4 style="text-align: center">весенний семестр 2014-2015 уч.года</h4></td>
  </tr>

  <tr class="span-calculate">
    <td><b>Направление подготовки:</b></td>
    <td>Менеджмент</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Курс:</b></td>
    <td>1</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Группа:</b></td>
    <td>2</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Семестр:</b></td>
    <td>весенний</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Дисциплина:</b></td>
    <td>{subject_name}</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Количество часов, отведенных на дисциплину по учебному плану:</b></td>
    <td>72</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Ф.И.О. преподавателя, ответственного за дисциплину:</b></td>
      <td>{professor_first_name} {professor_last_name} {professor_father_name}</td>
  </tr>

  <tr class="span-calculate">
    <td><b>Институт, реализующий подготовку по данной дисциплине:</b></td>
    <td>Институт маркетинга</td>
  </tr>
  </tbody>
</script>


<script type="javascript/template" id="tmpl-moodle-activity-th">
  <th class="moodle-activity" data-moodle-activity-id="{activity_id}">{activity_name}</th>
</script>

<script type="javascript/template" id="tmpl-moodle-user-line">
  <tr class="user-grades">
    <td>{last_name} {first_name} {middle_name}</td>
    {list_of_td}
  </tr>
</script>