<script type="javascript/template" id="tmpl-myRequisitions-page">
	<div class="page">
		<h2>Отправленные заявки</h2>
		<p>Здесь Вы можете просмотреть все ваши заявки и проследить за их статусом</p>

		<table id="requisitions" class="table table-bordered" role="grid">
			<colgroup>
				<col>
				<col>
				<col>
				<col width="150px">
				<col width="150px">
			</colgroup>
			<thead>
			<tr role="row">
				<th>Организация</th>
				<th>Дата подачи</th>
				<th>Статус</th>
			</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
		<div id="modal-placeholder"></div>
	</div>
</script>

<script type="javascript/template" id="tmpl-myRequisitions-requisition-modal">

	<div id="requisition_modal" class="modal fade" style="display: none" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">{name}</h4></div>
				<div class="modal-body">
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">ФИО:</label>
								<p class="form-control-static">{user_full_name} </p></div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Номер студенческого билета:</label>
								<p class="form-control-static">{user_stud}</p></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Дата подачи:</label>
								<p class="form-control-static">{create_date}</p></div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Дата выдачи:</label>
								<p class="form-control-static">{end_date}</p></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Вид печати:</label>
								<div class="radio radio-replace color-primary">
									<input type="radio" id="seal_type_1" name="seal_type">
									<label for="seal_type_1">институтская</label>
								</div>
								<div class="radio radio-replace color-primary">
									<input type="radio" id="seal_type_2" name="seal_type">
									<label for="seal_type_2">гербовая (для ПФ РФ), в особых случаях</label>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Дополнительно прошу указать:</label>
								<div class="radio radio-replace color-primary">
									<input type="radio" id="extra_1" name="extra">
									<label for="extra_1">номер приказа о зачислении</label>
								</div>
								<div class="radio radio-replace color-primary">
									<input type="radio" id="extra_2" name="extra">
									<label for="extra_2">дата зачисления/окончания</label>
								</div>
								<div class="radio radio-replace color-primary">
									<input type="radio" id="extra_3" name="extra">
									<label for="extra_3">ничего, спс</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<div class="form-group">
								<label for="where_input" class="control-label">Куда берёте справку?</label>
								<textarea id="where_input" class="form-control autogrow" placeholder="укажите ПОЛНОЕ наименование организации" style="resize: none;">{where}</textarea>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<div class="form-group no-margin">
								<label class="control-label" for="quantity_input">Количество:</label>
								<div class="input-spinner">
									<button type="button" class="btn btn-success btn-sm">-</button>
									<input id="quantity_input" class="form-control size-1 input-sm" name="quantity" data-min="1" value="{quantity}">
									<button type="button" class="btn btn-success btn-sm">+</button>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group">
								<label class="control-label">Статус:</label>
								<p class="form-control-static">{status_text}</p></div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-info">Сохранить</button>
				</div>
			</div>
		</div>
	</div>
</script>

<script type="javascript/template" id="tmpl-myRequisitions-table-row">

	<tr>
		<td>{where}</td>
		<td>{date}</td>
		<td>{status_text}</td>
		<td class="btn btn-info btn-icon icon-left"><i class="entypo-info"></i>Просмотр</td>
		<td class="btn btn-danger btn-icon icon-left"><i class="entypo-cancel"></i>Удалить</td>
	</tr>

</script>