<script type="javascript/template" id="tmpl-sendRequisition-page">
	<div class="page">
		<h2>Заказ справки</h2>
		<p>Здесь Вы можете заказать справку об обучении в Институте информационных систем</p>
		<form id="send_requisition_form" class="form-horizontal" role="form">
			<div class="form-group">
				<label for="where_input" class="col-sm-2 control-label">Куда берёте справку?</label>
				<div class="col-sm-5">
					<textarea id="where_input" class="form-control" name="to_organization" placeholder="" required style="resize: none"></textarea>
					<p class="help-block">укажите ПОЛНОЕ наименование организации</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Вид печати:</label>
				<div class="col-sm-5">
					<div class="radio radio-replace color-primary">
						<input type="radio" id="seal_type_1" name="seal_type" value="Институтская">
						<label for="seal_type_1">Институтская</label>
					</div>
					<div class="radio radio-replace color-primary">
						<input type="radio" id="seal_type_2" name="seal_type" value="Гербовая (для ПФ РФ)">
						<label for="seal_type_2">Гербовая (для ПФ РФ), в особых случаях</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Дополнительно прошу указать:</label>
				<div class="col-sm-5">
					<div class="radio radio-replace color-primary">
						<input type="radio" id="extra_1" name="additional_info" value="Номер приказа о зачислении">
						<label for="extra_1">Номер приказа о зачислении</label>
					</div>
					<div class="radio radio-replace color-primary">
						<input type="radio" id="extra_2" name="additional_info" value="Дата зачисления/окончания">
						<label for="extra_2">Дата зачисления/окончания</label>
					</div>
					<div class="radio radio-replace color-primary">
						<input type="radio" id="extra_3" name="additional_info" value="Ничего">
						<label for="extra_3">Ничего, спс</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="quantity_input" class="col-sm-2 control-label">Количество:</label>
				<div class="col-sm-5">
					<div class="input-spinner">
						<button type="button" class="btn btn-success btn-sm">-</button>
						<input id="quantity_input" class="form-control size-1 input-sm" name="count" value="1" data-min="1">
						<button type="button" class="btn btn-success btn-sm">+</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-5 text-right">
					<button id="send_requisition_button" type="button" class="btn btn-success">Отправить</button>
				</div>
			</div>
		</form>
	</div>
</script>