html, body{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.table_wrapper{
    padding: 20px;
}

.edit-in-table{
    cursor: pointer;
    text-decoration: underline;
}

.edit-in-table:hover{
    text-decoration: none;
}

.jgrid-new-row .edit-in-table{
    text-decoration: none !important;
}

.dialog-style{
    font-size: 12px;
}